<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Page</title>
</head>

<body>
    <h1>Reviews for Restroom in Building [redacted]</h1>
    <div>
        Username:<br>
        <input id="name" type="text"></input><br>
        Your Review:<br>
        <textarea rows="3" cols="45" name="review"></textarea><br>
    </div>
    <div>
        <button onclick="displayDate()">Post</button>
        <p id="datePosted"></p>
        <script>
            function displayDate(){
                document.getElementById("datePosted").innerHTML = "Review posted on: " + Date();
            }
        </script>

    </div>

</body>

</html>